/*
Joshua Snyder
VFW 1211
Project 3
*/

html {
    background-color: #E1DFD3;
}

#indexBody {
    outline-style: ridge;
    outline-color: gray;
    outline-width: thin;
    background-color: #FAEBD7;
    padding-bottom: 5px;
}

#pIndex {
    font: 1.0em "Arial Black", Gadget, sans-serif;
    padding-left: 5px;
}

#aIndex {
    padding-left: 5px;
}

h1 {
    font: 3.0em "Brush Script MT", cursive;
    color: #A02934;
    text-shadow: 3px 3px 1px rgba(0, 0, 0, 0.5 );
    margin: 20px;
}

label {
    display: block;
}

ul {
    list-style-type: none;
    padding-left: 2px;
}

fieldset {
    background-color: #FAEBD7;
    margin-bottom: 10px;
}

fieldset > legend {
    font: 1.0em "Arial Black", Gadget, sans-serif;
}

fieldset > ul > li {
    font: 0.9em "Arial Black", Gadget, sans-serif;
}

#rcpInfo > li {
    padding-bottom: 2px;
}

#thumbnailImg {
    padding-top: 3px;
    padding-left: 2px;
}

#clearAll {
    font: 1.5em "Brush Script MT", cursive;
    margin-left: 2px; 
    margin-right: 15px;
}

#viewLink {
    font: 1.5em "Brush Script MT", cursive;
}

#addRcp {
    font: 1.5em "Brush Script MT", cursive;
}

#items > ul > li {
    font: 1.4em "Brush Script MT", cursive;
    /*font-family: Papyrus, fantasy;*/
    outline-style: ridge;
    outline-color: black;
    outline-width: thin;
    box-shadow: 2px 5px 0 0 rgba(72, 72, 72, 1);
    background-color: #FAEBD7;
    margin-top: 10px;
}

#items > ul > li > ul > li:nth-of-type(odd) {
    background-color: white;
}

#addIt {
    font: 1.0em "Arial Black", Gadget, sans-serif;
}
